<ion-header>
  <ion-toolbar>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      Elementos añadidos a su lista de favoritos
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/Muebles/silla.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Silla color chocolate</h2>
        <h3>#74856</h3>
        <p>Silla de madera de pino c...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/Muebles/mesa.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Mesa detallada</h2>
        <h3>#12574</h3>
        <p>Mesa de madera de roble...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/Muebles/comedor.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Comedor</h2>
        <h3>#48481</h3>
        <p>Comedor 6 asientos de d...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/Muebles/escritorio.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Escritorio ejecutivo</h2>
        <h3>#32845</h3>
        <p>Escritorio a base de bam...</p>
      </ion-label>
    </ion-item>
  </ion-list>


  <div id="container">

  <button ion-button [routerLink]="['/principal']" class="btn">Volver a página principal</button>

</div>
</ion-content>
