<ion-header>
  <ion-toolbar>
    <ion-title>Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
      <ion-card>
        <img src="../../assets/Muebles/comedor.jpg" />
        <ion-card-header>
          <ion-card-title>Comedor</ion-card-title>
          <ion-card-subtitle>6 personas</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Comedor para 6 personas color blanco.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <img src="../../assets/Muebles/sofá.jpg" />
        <ion-card-header>
          <ion-card-title>Sofá</ion-card-title>
          <ion-card-subtitle>Sofá cama individual</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Sofá cama tamaño individual color gris.
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

  <div id="container">

  <button ion-button [routerLink]="['/favoritos']" class="btn">Ver favoritos</button>

</div>
</ion-content>
